*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
}

.btn{
	height: 20px;
	width: 100px;
}
.reset-btn{
	margin: 200px 0 0 100px;
}
.clear-btn{
	margin: 200px 100px 0 0 ;
}
.main-chess-board{
	/*background-color: green;*/
	width: 560px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, minmax(70px, auto));
	justify-items: center;
	border: 5px solid black;
}
.inner-box{
	border: 2px solid black;
	width: 70px;
	height: 70px;
	cursor: move;
	/*background-color: black;*/
}
.inner-box img{
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
}